
<h1>Accounting 101</h1>
<div class="ac-table-store">
<h2>Assets</h2>
<p>Assets are things that the company owns. They are the resources of the company that have been acquired through transactions, and have future economic value that can be measured and expressed in dollars. Assets also include costs paid in advance that have not yet expired, such as prepaid advertising, prepaid insurance, prepaid legal fees, and prepaid rent. (For a discussion of prepaid expenses go to Explanation of Adjusting Entries.)</p>

Examples of asset accounts that are reported on a company's balance sheet include:
<ul>
	<li>Cash
	<li>Petty Cash
	<li>Temporary Investments
	<li>Accounts Receivable
	<li>Inventory
	<li>Supplies
	<li>Prepaid Insurance
	<li>Land
	<li>Land Improvements
	<li>Buildings
	<li>Equipment
	<li>Goodwill
</ul>

<p>Usually asset accounts will have debit balances.</p>

<p>Contra assets are asset accounts with credit balances. (A credit balance in an asset account is contrary—or contra—to an asset account's usual debit balance.) Examples of contra asset accounts include:</p>
<ul>
	<li>Allowance for Doubtful Accounts
	<li>Accumulated Depreciation-Land Improvements
	<li>Accumulated Depreciation-Buildings
	<li>Accumulated Depreciation-Equipment
	<li>Accumulated Depletion
</ul>
<h2>Classifications Of Assets On The Balance Sheet</h2>

<p>Accountants usually prepare classified balance sheets. "Classified" means that the balance sheet accounts are presented in distinct groupings, categories, or classifications. The asset classifications and their order of appearance on the balance sheet are:</p>
<ul>
<li>Current Assets
<li>Investments
<li>Property, Plant, and Equipment
<li>Intangible Assets
<li>Other Assets
</ul>

<h2>Liabilities</h2>

<p>Liabilities are obligations of the company; they are amounts owed to creditors for a past transaction and they usually have the word "payable" in their account title. Along with owner's equity, liabilities can be thought of as a source of the company's assets. They can also be thought of as a claim against a company's assets. For example, a company's balance sheet reports assets of $100,000 and Accounts Payable of $40,000 and owner's equity of $60,000. The source of the company's assets are creditors/suppliers for $40,000 and the owners for $60,000. The creditors/suppliers have a claim against the company's assets and the owner can claim what remains after the Accounts Payable have been paid.</p>

<p>Liabilities also include amounts received in advance for future services. Since the amount received (recorded as the asset Cash) has not yet been earned, the company defers the reporting of revenues and instead reports a liability such as Unearned Revenues or Customer Deposits. (For a further discussion on deferred revenues/prepayments see the Explanation of Adjusting Entries.)</p>

<p>Examples of liability accounts reported on a company's balance sheet include:</p>
<ul>
<li>Notes Payable
<li>Accounts Payable
<li>Salaries Payable
<li>Wages Payable
<li>Interest Payable
<li>Other Accrued Expenses Payable
<li>Income Taxes Payable
<li>Customer Deposits
<li>Warranty Liability
<li>Lawsuits Payable
<li>Unearned Revenues
<li>Bonds Payable
</ul>
<li>Liability accounts will normally have credit balances.

<p>Contra liabilities are liability accounts with debit balances. (A debit balance in a liability account is contrary—or contra—to a liability account's usual credit balance.) Examples of contra liability accounts include:</p>
<ul>
<li>Discount on Notes Payable
<li>Discount on Bonds Payable
<li>Debt Issue Costs
<li>Bond Issue Costs
</ul>
<h2>Classifications Of Liabilities On The Balance Sheet</h2>
Liability and contra liability accounts are usually classified (put into distinct groupings, categories, or classifications) on the balance sheet. The liability classifications and their order of appearance on the balance sheet are:
<ul>
<li>Current Liabilities
<li>Long Term Liabilities
</ul>


<h2> Owner's (Stockholders') Equity </h2>

<p>Owner's Equity—along with liabilities—can be thought of as a source of the company's assets. Owner's equity is sometimes referred to as the book value of the company, because owner's equity is equal to the reported asset amounts minus the reported liability amounts.

Owner's equity may also be referred to as the residual of assets minus liabilities. These references make sense if you think of the basic accounting equation:</p>
<table class="ac-table-blue">
	<tbody>
		<tr>
			<td>
				<b> Assets = Liabilities+ Owner's Equity</b>
			</td>
		</tr>
	</tbody>
</table>
<p>"Owner's Equity" are the words used on the balance sheet when the company is a sole proprietorship. If the company is a corporation, the words Stockholders' Equity are used instead of Owner's Equity. An example of an owner's equity account is Mary Smith, Capital (where Mary Smith is the owner of the sole proprietorship). Examples of stockholders' equity accounts include:</p>
<ul>
	<li> Common Stock
	<li>Preferred stock
	<li>Paid-in Capital in Excess of Par Value
	<li>Paid-in Capital from Treasury Stock
	<li>Retained Earnings
	<li>Accumulated other comprehensive Income
</ul>
<p>Both owner's equity and stockholders' equity accounts will normally have credit balances.</p>
<p>Contra owner's equity accounts are a category of owner equity accounts with debit balances. (A debit balance in an owner's equity account is contrary—or contra—to an owner's equity account's usual credit balance.) An example of a contra owner's equity account is Mary Smith, Drawing (where Mary Smith is the owner of the sole proprietorship). An example of a contra stockholders' equity account is Treasury Stock.</p>

<h2>Classifications of Owner's Equity On The Balance Sheet</h2>

<p>Owner's equity is generally represented on the balance sheet with two or three accounts (e.g., Mary Smith, Capital; Mary Smith, Drawing; and perhaps Current Year's Net Income)</p>

<p>The stockholders' equity section of a corporation's balance sheet is:</p>
<ul>
	<li>Paid-in Capital
	<li>Retained Earnings
	<li>Accumulated Other Comprehensive Income
	<li>Treasury Stock
</ul>

<table class= "ac-table-equity">
	<tbody>
		<tr>
			<td>
				<b>Stockholder's Equity</b>
			</td>
		</tr>
		<tr><td>Paid-in Capital</td>
		</tr>
		<tr><td>&nbsp &nbsp Preferered Stock</td></tr>
		<tr><td>&nbsp &nbsp Common Stock</td></tr>
		<tr><td>&nbsp &nbsp Paid-in Capital in excess of par value- preferred stock</td></tr>
		<tr><td>&nbsp &nbsp Paid-in Capital in excess of par value- common stock<td></tr>
		<tr><td>&nbsp &nbsp Paid-in Capital from treasury stock</td></tr>
		<tr><td>Retained Earnings</td></tr>
		<tr><td>Accumulated other omprehensive income</td></tr>
		<tr><td>Less: treasury stock</td></tr>
		<tr><td>&nbsp &nbsp &nbsp &nbsp Total Shareholder's Equity</td></tr>

	<tbody>
</table>

</div>
