<h1>Quote of the day: Light travels faster than sound. This is why some people appear bright until you hear them speak</h1>
<h1>Quote of the Day:“You look good when your eyes are closed, but you look the best when my eyes closed.”</h1>
<h1>Quote of the Day: “If had a dollar for every smart thing you say. I’ll be poor.”</h1>