<div class="container">
    <div class="row">
		<h2>Stocks 101</h2>   
		<div class="ac-table-store">
            <div class="col-md-8">  
                <p>Fundamental analysis and technical analysis, the major schools of thought when it comes to approaching the markets, are at opposite ends of the spectrum. Both methods are used for researching and forecasting future trends in stock prices, and like any investment strategy or philosophy, both have their advocates and adversaries.</p>

				<p><h4 style="display:inline-block;">Fundamental analysis</h4> is a method of evaluating securities by attempting to measure the intrinsic value of a stock. Fundamental analysts study everything from the overall economy and industry conditions to the financial condition and management of companies. Earnings, expenses, assets and liabilities are all important characteristics to fundamental analysts.</p>

				<p><h4 style="display:inline-block;">Technical analysis </h4> differs from fundamental analysis in that the stock's price and volume are the only inputs. The core assumption is that all known fundamentals are factored into price; thus, there is no need to pay close attention to them. Technical analysts do not attempt to measure a security's intrinsic value, but instead use stock charts to identify patterns and trends that suggest what a stock will do in the future.</p>

				<p>The most popular forms of technical analysis are: </p>
				<ul>
				 <li>simple moving averages
				 <li>support and resistance
				 <li>trend lines
				 <li>momentum-based indicators
				 </ul>

				<p><h5 style="display: inline-block;">Simple moving averages</h5> are indicators that help assess the stock's trend by averaging the daily price over a fixed time period. Buy and sell signals are generated when a shorter duration moving average crosses a longer duration one.</p>

				<p><h5 style="display: inline-block;">Support and resistance</h5> utilize price history. Support is defined as areas where buyers have stepped in before, while resistance consists of the areas where sellers have impeded price advance. Practitioners look to buy at support and sell at resistance.</p>

				<p><h5 style="display: inline-block;">Trend lines</h5> are similar to support and resistance, as they give defined entry and exit points. However, they differ in that they are projections based on how the stock has traded in the past. They are often utilized for stocks moving to new highs or new lows where there is no price history.</p>

				<p><h5 style="display: inline-block">Momentum-based indicators</h5> such as:</p>
				<ul>
					<li>Bollinger Bands
					<li>Chaikin Money Flow
					<li>stochastics and moving average convergence divergence (MACD). 
				</ul>
				<p>These each have unique formulas and give buy and sell signals based on varying criteria. Momentum indicators tend to be used in range-bound or trendless markets.</p>

            </div>
            <div class="col-md-4">
                <h2>Brokerage Firms in Singapore</h2>
                <table style="height:659px width:630px">
					<tbody>
						<tr>
							<td rowspan="2" width="100"><strong>Brokerage Firm</strong></td>
							<td rowspan="2" width="133"><strong>Minimum Fees</strong></td>
							<td colspan="3" width="332"><strong>Trading Fees(based on contract amount)</strong></td>
						</tr>
						<tr>
							<td width="128"><$50k</td>
							<td width="102">$50k-$100k</td>
							<td width="102">>$100k</td>
						</tr>
						<tr>
							<td width="137">KGI Securities</td>
							<td width="133">$25</td>
							<td width="128">0.275%</td>
							<td width="102">0.22%</td>
							<td width="102">0.18%</td>
						</tr>
						<tr>
							<td width="137">CGS-CIMB Securities</td>
							<td width="133">$25</td>
							<td width="128">0.275%</td>
							<td width="102">0.22%</td>
							<td width="102">0.18%</td>
						</tr>
						<tr>
							<td width="137">CitiBank</td>
							<td width="133">$28</td>
							<td width="128">0.25%</td>
							<td width="102">0.20%</td>
							<td width="102">0.18%</td>
						</tr>
						<tr>
							<td width="137">DBS Vickers</td>
							<td width="133">$25(15% rebate on each trade)</td>
							<td width="128">0.28%</td>
							<td width="102">0.22%</td>
							<td width="102">0.18%</td>
						</tr>
						<tr>
							<td width="137">RHB Securities (formerly DMG)</td>
							<td width="133">$25</td>
							<td width="128">0.275%</td>
							<td width="102">0.22%</td>
							<td width="102">0.18%</td>
						</tr>
						<tr>
							<td width="137">Maybank Kim Eng</td>
							<td width="133">$25</td>
							<td width="128">0.275%</td>
							<td width="102">0.22%</td>
							<td width="102">0.18%</td>
						</tr>
						<tr>
							<td width="137">Lim and Tan</td>
							<td width="133">$25</td>
							<td width="128">0.28%</td>
							<td width="102">0.22%</td>
							<td width="102">0.18%</td>
						</tr>
						<tr>
							<td width="137">Phillip Securities (POEMS)</td>
							<td width="133">$25</td>
							<td width="128">0.28%</td>
							<td width="102">0.22%</td>
							<td width="102">0.18%</td>
						</tr>
						<tr>
							<td width="137">OCBC Securities</td>
							<td width="133">$25</td>
							<td width="128">0.275%</td>
							<td width="102">0.22%</td>
							<td width="102">0.18%</td>
						</tr>
						<tr>
							<td width="137">SAXO Capital Markets</td>
							<td width="133">$25</td>
							<td width="128">0.275%</td>
							<td width="102">0.22%</td>
							<td width="102">0.18%</td>
						</tr>
						<tr>
							<td width="137">KGI Securities</td>
							<td width="133">$25</td>
							<td width="128">0.12%</td>
							<td width="102">0.12%</td>
							<td width="102">0.12%</td>
						</tr>
						<tr>
							<td width="137">Standard Chatered</td>
							<td width="133">$10</td>
							<td width="128">0.20%</td>
							<td width="102">0.20%</td>
							<td width="102">0.20%</td>
						</tr>
						<tr>
							<td width="137">UOB KayHian/td>
							<td width="133">$25</td>
							<td width="128">0.275%</td>
							<td width="102">0.22%</td>
							<td width="102">0.20%</td>
						</tr>

</div>


            </div>
            
        </div>
    </div>
</div>